body{
    background: url(car.jpg);
   background-repeat: no-repeat;
    background-size: cover; 
}
/*Login Form*/
.form{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #dd0707;
    border-radius: 25px;
}
h1{
    color: #fff;
    font-size: 2.5rem;
    border-bottom: 4px solid #ffffffad;
    margin: 50px;
    font-weight: 600;
}
/*Boxes*/
.box{
    padding: 12px;
    margin: 20px;
    width: 65%;
    outline: none;
    border-radius: 25px;
    box-shadow: #fff;
    font-size: 1rem;
    border: none;
    
    background-color: transparent;
    border: 2px solid #dd0707;
    color: #fff;
}
.box:hover{
    background-color: #dd0707;
    
}
::placeholder{
    color: #fff;
    font-size: 1rem;
  
}
.submit{
    width: 50%;
    margin-top: 40px;
    padding: 10px 30px;
    background-color: #dd0707;
    border: 2px solid #dd0707;
    text-transform: uppercase;
    color: #fff;
    border-radius: 30px;
    transition: 0.3s;
    font-weight: 600;
    font-weight: 600;
}
.submit:hover{
    background-color: transparent;
}